@use'Colores' as C;

.targeta{
    border: 1px solid;
    width: 250px;
    height: 300px;
    border-radius: 17px;
    background-color: C.$colorTargeta;
    box-shadow: 4px 4px;
    padding: 48px 12px 12px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    justify-content: space-between;
    &_nombre{
        background-color: C.$colorBoton;
        color: white;
        text-align: center;
        right: 120px;
        position: absolute;
        top: 0;
        width: 130px;
        padding: 6px 12px;
    }
    &_fondo{
        background-color: C.$colorJson;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        top: 56px;
        left: 50px;
    }
    &_pokemon{
        position: absolute;
        width:  100%;
        display: flex;
        align-items: center;
         
    }

    
}