*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:cadetblue;
}

.form-container {
    width: 2000px;
    height: 1500px;
    
    margin-right: 20px;
    padding: 20px;
   
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    

    
    
}

.form-title {
    padding-left: 30px;
    color:black;
    margin-top: 50px;
    font-size: 24px;
    margin-bottom: 50px;

}

.form-input {
    margin-top: 20px;
    width: 80%;
    margin-bottom: 20px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-button {

    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-left: 22px;
    margin-top: 15px;
   
}

.contacts-container {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    padding: 20px;
}

.contact {
    flex: 0 0 calc(50% - 20px);
    margin-right: 20px; 
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 200px;

}

.contact-name {
    font-weight: bold;
}

.contact-image {
    max-width: 30%;
    border-radius: 5px;
   
}
